<div class="field">
    <%= f.label :strain_id %>
    <%= f.collection_select :strain_id, @strains, :id, :name %>
</div>

<div class="field">
    <%= f.label :percentage %>
    <%= f.number_field :percentage %>
</div>